<div class="conteiner">
    <h1>Title Component </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, unde quae voluptatibus consectetur cupiditate sapiente, et numquam quaerat perferendis, fugiat necessitatibus commodi perspiciatis modi veniam nesciunt porro impedit laborum. Assumenda?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione alias id dolore quia iure, placeat voluptates ipsam, accusantium a mollitia officiis nobis! Officia, unde! Iusto minus vel soluta ex expedita.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eveniet error totam voluptatum deleniti provident voluptatem quidem voluptate veniam esse, sequi beatae placeat aliquid doloribus voluptas tempore molestiae cumque quam.</p>

    <app-comment></app-comment>


</div>


